h1 {
    text-align: center;
}

body{
    background-image:linear-gradient(to right,blue,red);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#gif-area{
    margin-top: 20px;
   display: flex; 
}